<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

{%- include head.html -%}

<body>

{%- include header.html -%}

<style>
.hero-background {
background-color: #19bca7;
height: 500px;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
position:relative;
}
.hero-text {
text-align:left;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
color: white;
font-family: Arial, Verdana, sans-serif;
font-weight: bold;
}

</style>


<!--this is for the color background block-->
<div class="hero-background">
<div class="hero-text">
<h1 style="font-size:70px; font-family: Arial, Geneva, sans-serif;"> 
     {%- if page.title -%}
    <h1 class="page-title">
        {{ page.title }}</h1>
         {%- endif -%}</h1>
<h3><em> 
     {%- if page.subheading -%}
    <h1 class="page-subheading">
        {{ page.subheading }}</h1>
         {%- endif -%}</em></h3>
</div>
</div>

<!--seeing what it looks like if I try to add in my own header-->
<!--{%- include header.html -%}-->
<main class="page-content" aria-label="Content">
<div class="wrapper">
{{ content }}
</div>
</main>

{%- include footer.html -%}

</body>

</html>