

<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

{%- include head.html -%}

<body>

{%- include header.html -%}

<style>
   
   .hero-background {
background-image: url(/creature-icons/blog-fin.jpg);
height: 500px;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
position:relative;
}
.hero-text {
text-align:left;
position: absolute;
top: 65%;
left: 80%;
transform: translate(-50%, -50%);
color: white;
font-family: Arial, Verdana, sans-serif;
font-weight: bold;
}

</style>


<!--this is for the color background block-->
<div class="hero-background">
<div class="hero-text">
<h1 style="font-size:70px; font-family: Arial, Geneva, sans-serif;"> 
     <!-- {%- if page.title -%} -->
    <!-- <h1 class="page-title"> -->
        <!-- {{ page.title }}</h1> -->
         <!-- {%- endif -%}</h1>  -->
<h2><em> 
     {%- if page.subheading -%}
    <h4 class="page-subheading">
        {{ page.subheading }}</h1>
         {%- endif -%}</em></h4>
</div>
</div>

<!-- this is where i put the original code of this file -->
<main class="page-content" aria-label="Content">
  <div class="wrapper">
    <div class="blog">
      {%- if page.title -%}
        <h1 class="page-heading">{{ page.title }}</h1>
      {%- endif -%}
    
      {{ content }}
    
      {% for fellow in site.fellows %}
      <p>
          <a href="{{ fellow.url }}">
          {{ fellow.name }}
          </a>
      </p>
      {% endfor %}
    
      <h2>All Posts</h2>
    
        {% if site.paginate %}
          {% assign posts = paginator.posts %}
        {% else %}
          {% assign posts = site.posts %}
        {% endif %}
    
    
        {%- if posts.size > 0 -%}
        {%- if page.list_title -%}
        <h2 class="post-list-heading">{{ page.list_title }}</h2>
        {%- endif -%}
        <ul class="post-list">
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        {%- for post in posts -%}
        <li>
            <span class="post-meta">{{ post.date | date: date_format }}</span>
            <h3>
            <a class="post-link" href="{{ post.url | relative_url }}">
                {{ post.title | escape }}
            </a>
            </h3>
            {%- if site.show_excerpts -%}
            {{ post.excerpt }}
            {%- endif -%}
        </li>
        {%- endfor -%}
        </ul>
    
        {% if site.paginate %}
        <div class="pager">
            <ul class="pagination">
            {%- if paginator.previous_page %}
            <li><a href="{{ paginator.previous_page_path | relative_url }}" class="previous-page">{{ paginator.previous_page }}</a></li>
            {%- else %}
            <li><div class="pager-edge">•</div></li>
            {%- endif %}
            <li><div class="current-page">{{ paginator.page }}</div></li>
            {%- if paginator.next_page %}
            <li><a href="{{ paginator.next_page_path | relative_url }}" class="next-page">{{ paginator.next_page }}</a></li>
            {%- else %}
            <li><div class="pager-edge">•</div></li>
            {%- endif %}
            </ul>
        </div>
        {%- endif %}
    
        {%- endif -%}
    
    </div>
    <!-- this is where the original code ends -->
    
    <!--seeing what it looks like if I try to add in my own header-->
    <!--{%- include header.html -%}-->
    <main class="page-content" aria-label="Content">
    <div class="wrapper">
    {{ content }}
    </div>
  </div>


</main>

{%- include footer.html -%}

</body>

</html>
  <!-- the experiment ends here -->

